<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg}}
        </div>

    </div>
</div>

<section id="gallery" class="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2>
                    Our Services
                </h2>
            </div><!--/.gallery-header-->
            <div class="gallery-box">
                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">

                            <div class="col-md-6" >
                                <div class="filtr-item">
                                    <a href="/buy">
                                        <img src="/images/gallary/g1.jpg" alt="portfolio image"/></a>
                                    <div class="item-title">
                                        <a href="/buy">
                                            Buy 1 for yourself
                                        </a>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <a href="/access">
                                    <img src="/images/gallary/g2.jpg" alt="portfolio image"/></a>
                                    <div class="item-title">
                                        <a href="/access">
                                            Yumm! Dog Food
                                        </a>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <a href="/adopt">
                                    <img src="/images/gallary/g3.jpg" alt="portfolio image"/></a>
                                    <div class="item-title">
                                        <a href="#">
                                            Adoption
                                        </a>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-6" id="demo">
                                <div class="filtr-item">
                                    <img src="/images/gallary/g4.jpg" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            High quality Doctors
                                        </a>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->


                        </div><!-- /.row -->

                    </div><!-- /.filtr-container-->
                </div><!-- /.gallery-content -->
            </div><!--/.galley-box-->
        </div><!--/.gallery-details-->
    </div><!--/.container-->

</section><!--/.gallery-->

<section   class="testemonial">
    <div class="container" id="doc" style="display: none;">

        <div class="gallary-header text-center">
            <h2>
                Doctors
            </h2>

        </div><!--/.gallery-header-->

        <div class="owl-carousel owl-theme" id="testemonial-carousel">

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/andrew.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Medical doctors examine, diagnose and treat patients. They can specialize in a number of medical areas, such as pediatrics, anesthesiology or cardiology, or they can work as general practice physicians.Income for medical doctors varies significantly based on their amount of experience.
                        <h3>
                            <a href="#">
                                Andrew
                            </a>
                        </h3>
                        <h4>MBA</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/david.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Doctors may work long and unpredictable hours dictated by the needs of their patients. Additionally, doctors may need to travel amongst various locations, such as offices, hospitals and clinics, in order to provide patient care.
                        </p>
                        <h3>
                            <a href="#">
                                Dipa
                            </a>
                        </h3>
                        <h4>MBA</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/Dipa.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            M.D.s are sometimes referred to as allopathic physicians. As needed, medical doctors might refer patients to specialists who focus on specific area.Doctors may work long and unpredictable hours dictated by the needs of their patients.
                        </p>
                        <h3>
                            <a href="#">
                                Eddie
                            </a>
                        </h3>
                        <h4>MD</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="images/doc/eddie.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                        <h3>
                            <a href="#">
                                Jeffrey
                            </a>
                        </h3>
                        <h4>MD</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/jeffrey.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                        <h3>
                            <a href="#">
                                Sanjit
                            </a>
                        </h3>
                        <h4>MBA</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/sanjit.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                        <h3>
                            <a href="#">
                                Stuart
                            </a>
                        </h3>
                        <h4>MBA</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/steven.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                        <h3>
                            <a href="#">
                                Susan
                            </a>
                        </h3>
                        <h4>MBA</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/stuart.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                        <h3>
                            <a href="#">
                                Steven
                            </a>
                        </h3>
                        <h4>MD</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="/images/doc/Susan.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                        <h3>
                            <a href="#">
                                David
                            </a>
                        </h3>
                        <h4>MBA</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

        </div><!--/.testemonial-carousel-->
    </div><!--/.container-->

</section><!--/.testimonial-->
<!-- testemonial End -->

<script type="text/javascript" src="javascripts/index.js"></script>


